<table>
    <tr>
        <td id="createandcompete">
            <a href="{{site.baseurl}}/create_and_compete/home">
                <img src="{{site.baseurl}}/images/createandcompete/logo.png" alt="Icon">
            </a>
        </td>

        <td id="realityroom"><a href="{{site.baseurl}}/create_and_compete/realityroom-home">Reality Room</a></td>
        <td id="elevatorpitch"><a href="{{site.baseurl}}/create_and_compete/elevatorpitch">Elevator Pitch</a></td>
        <td id="zoominguess"><a href="{{site.baseurl}}/create_and_compete/zoominguess">Zoom N Guess</a></td>
        <td id="doodle"><a href="{{site.baseurl}}/create_and_compete/doodle">Doodle</a></td>
        <td id="riddle"><a href="{{site.baseurl}}/create_and_compete/riddle">Rules Riddle</a></td>
        <td id="culinary"><a href="{{site.baseurl}}/create_and_compete/culinary">Culinary</a></td>
    </tr>
</table>