<table>
    <tr>
        <td id="rate_and_relate">
            <a href="{{site.baseurl}}/rate_and_relate/home">
                <img src="{{site.baseurl}}/images/rate_and_relate/rate_and_relate.png" width="50%" alt="Icon">
            </a>
        </td>
        <td id="Instabox"><a href="{{site.baseurl}}/rate_and_relate/instabox">Instabox</a></td>
        <td id="FlavorFusion"><a href="{{site.baseurl}}/rate_and_relate/flavor_fusion">Flavor Fusion</a></td>
        <td id="BookReview"><a href="{{site.baseurl}}/rate_and_relate/book_reviews">Book Reviews</a></td>
        <td id="UpdateTheNest"><a href="{{site.baseurl}}/rate_and_relate/update_the_nest">Update The Nest</a></td>
    </tr>
</table>