<table>
    <tr>
        <td>
            <a href="{{site.baseurl}}/share_and_care/revvit">Home</a>
        </td>
        <td>
            <a href="{{site.baseurl}}/share_and_care/revvit/mycar">My Car</a>
        </td>
        <td>
            <a href="{{site.baseurl}}/share_and_care/revvit/allcars"
                >Browse Cars</a
            >
        </td>
        <td>
            <a href="{{site.baseurl}}/share_and_care/revvit/polls">Polls</a>
        </td>
        <td>
            <a href="{{site.baseurl}}/share_and_care/revvit/carChat"
                >Chat Room</a
            >
        </td>
    </tr>
</table>
