<style>
    table {
        border-collapse: separate;
        border-spacing: 0;
        width: 100%;
        border-radius: 15px;
        overflow: hidden;
    }
    
    td {
        padding: 1rem;
        text-align: center;
        background: #1A1A1A;
        border-bottom: 1px solid #333;
    }
    
    td:first-child {
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
    }
    
    td:last-child {
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
    }
</style>
<table>
    <tr>
        <td id="createandcompete" class="dropdownp4">
            <a href="{{site.baseurl}}/voteforthegoat/home">
                <img src="{{site.baseurl}}/images/favicon.ico" alt="Icon">
            </a>
        </td>
        <td class="dropdownp4">
            <a class="dropbtn">Vote Today</a>
            <div class="dropdown-content">
                <a href="{{site.baseurl}}/voteforthegoat/internetdebates">Internet Debates</a>
                <a href="{{site.baseurl}}/voteforthegoat/calicovote">Calico Vote</a>
                <a href="{{site.baseurl}}/voteforthegoat/dnerostore">D'nero Store</a>
                <a href="{{site.baseurl}}/voteforthegoat/beveragedebates">Beverage Debates</a>
                <a href="{{site.baseurl}}/voteforthegoat/nflgoats">NFL GOATs</a>
                <a href="{{site.baseurl}}/voteforthegoat/genres">Genres</a>
                <a href="{{site.baseurl}}/voteforthegoat/nighthawkCars">Car Debates</a>
            </div>
        </td>
    </tr>
</table>