<div style="text-align:center">
    <table>
        <tr id="thisisimportantidname">
        </tr>
    </table>
</div>

<script type="text/javascript">
    // Pulls submenu information from '_data/submenu.yml' and concatenates page information from metadata
    let submenu = {{ site.data.submenu.[page.submenu] | jsonify }};
    let permalink = {{ page.permalink | jsonify }};
    // Converts the submenu data (which is a object) to an array
    set = Object.values(submenu)
    // Creates a loop which loops over the length of cells in submenu
    let submenuLength = set.length;
    for (let i = 0; i < submenuLength; i++) {
        // Creates a new element for the page
        let td = document.createElement('td');
        // Checks if this is the same page and if so does not add title
        if (permalink[0] == '/') {
            permalink = permalink.slice(1);
        }
        if (set[i][0][0] == '/') {
            set[i][0] = set[i][0].slice(1);
        }
        if (set[i][0] == permalink) {
            td.innerHTML = "<a href='{{site.baseurl}}/" + set[i][0] + "'>--Current Page--</a>"
        } else {
            // Checks for whether or not a title exists for the data
            if (set[i][1]) {
                td.innerHTML = "<a href='{{site.baseurl}}/" + set[i][0] + "'>" + set[i][1] + "</a>"
            } else {
                td.innerHTML = "<a href='{{site.baseurl}}/" + set[i][0] + "'>-- --</a>"
            }
        }
        // Attaches the new data on to page
        document.getElementById("thisisimportantidname").append(td)
    }
</script>
