
.feedContainer {
    transform: translateY(-90px);
}

.postFeed {
    border: 6px solid black;
    background-color: #FBC3C3;
    border-color: #F5E1E7;
    border-radius: 50px;
    height: 350px;
    margin-bottom: 12px;
    margin-left: 12px;
    margin-right: 12px;
}

.textContainer {
    transform: translateY(20px)
}

.textInfo {
    transform: translateY(30px)
}

.imageContainer {
    height: auto;
    display: inline;
    float: left;
    width: 55%;
    transform: translateX(5px) translateY(50px);
    text-align: center;
}

.imageContainer > img {
    width: 50%;
    display: inline-block;
}

.feed {
    border: 10px solid black;
    border-radius: 50px;
    background-color: pink;
    text-align: center;
    padding: 100px 0 3px 0;
    height: auto;
    font-family: 'Playfair Display', serif;
    float: left;
}

.header {
        border: 10px solid black;
        border-radius: 50px;
        background-color: pink;
        text-align: center;
        padding: 5px 0 3px 0;
        height: 200px;
        font-family: 'Playfair Display', serif;
    }

  .headerImage > img {
    height: auto;
    display: inline;
    width: 15%;
    float: left;
    transform: translateX(30px) translateY(-80px);
  }

.styled-button {
            background-color: #4CAF50;
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
            border-radius: 12px;
            transition: background-color 0.3s, transform 0.2s;
            transform: translateX(-70px) translateY(10px);
        }

        .styled-button:hover {
            background-color: #45a049;
            transform: scale(1.05);
        }

        .styled-button:active {
            background-color: #3e8e41;
            transform: scale(0.95);
        }
